* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 1fr;
}

.header {
    background-color: white;
    z-index: 1;
    box-shadow: 0px 2px 5px rgb(202, 201, 201);
}

.sidebar {
    background-color: #1992D3;
    grid-row: 1/3;
    grid-column-start: 1;
    min-width: 200px;
    max-width: 300px;
    z-index: 2;
    /* display: grid;
    grid-template-rows: 1fr 4.5fr 7fr; */
    display: flex;
    flex-direction: column;
    gap: 7%;
}

.sidebar-item {
    display: flex;
    color: white;
    padding: 0 8%;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 8%;
    align-items: center;
    height: 100%;
}

.sidebar .menu,
.sidebar .tools {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.sidebar img {
    width: 24px;
    height: 24px;
}

.dashboard .sidebar-item img {
    width: 40px;
    height: 40px;
}

.dashboard .sidebar-item {
    padding-left: 5%;
    gap: 5%;
    font-size: 2rem;
    padding-top: 6%;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.first-row {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-left: 2%;
}

.first-row>form {
    flex-basis: 75%;
    display: flex;
    gap: 1%;
    align-items: center;
}

.main-content {
    background-color: #E2E8F0;
}

label>img,
#notifications {
    height: 20px;
    width: 20px;
}

#account-icon {
    height: 40px;
    width: 40px;
}

#account-name {
    font-size: 1.4rem;
    font-weight: bold;
}

input {
    width: 55%;
    background-color: #E2E8F0;
    border: 1px solid #E2E8F0;
    height: 2rem;
    border-radius: 12px;
    padding-left: 1%;
}

/* TEST STYLES */

/* .header>div {
    border: 1px solid bisque;
} */

/* .first-row>* {
    border: 1px solid rebeccapurple;
} */